table {
  width: 100%;
}

.issue-count-filter-container {
  padding-left: 3em;
  display: flex;
  flex-direction: row;
}

.button {
  background: darkblue;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
}

.file-selection-container {
  background: #3f51b5;
  color: white;
  width: 12.5em;
  height: 12.5em;
  margin-top: 10%;
  margin-left: 40%;
  .file-selection-text {
    margin-bottom: 1em;
    font-size: 1em;
  }
}
