table {
  width: 100%;
}

.issue-count-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background: darkblue;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
}
